@model IEnumerable<PracticaAula.Models.Vacations>

@{
    ViewData["Title"] = "Index";
}

<h1>Vacaciones</h1>

<p class="text-left">
    <a class="btn btn-primary" asp-action="Create">Nuevo registro</a>
</p>
<table class="table table-bordered table-striped">
    <thead>
        <tr>
            <th>
               Fecha de Inicio
            </th>
            <th>
               Fecha de Fin
            </th>
            <th>
                Empleado
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepartureDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateOfAdmission)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Employee.FullName)
            </td>
            <td>
                 <a class="btn btn-info" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                <div class="btn-group">
                    <form asp-action="Delete" asp-route-id="@item.Id" method="post">
                        <button class="btn btn-danger" type="submit" onclick="return functionConfirm(this)">Eliminar</button>
                    </form>
                </div>
            </td>
        </tr>
}
    </tbody>
</table>

@section Scripts{
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/1.1.3/sweetalert.min.js"></script>
    <script type="text/javascript">
       
        function functionConfirm(event) 
        {
            swal({
                title: 'Esta seguro de borrar este registro?',
                text: "No podrás recuperar este artículo.",
                type: 'warning',
                showCancelButton: true,
                cancelButtonText: 'No',
                cancelButtonClass: 'btn btn-danger',
                showConfirmButton: true,
                confirmButtonText: 'Si',
                confirmButtonClass: 'btn btn-success'
            }, function (isConfirm) {
                if (isConfirm) {
                    $('form').submit();
                    return true;
                } else {
                    return false;
                }
            });
            return false;
        }
    </script>
}